body {
    font-size: 16px;
    font-family: "微软雅黑";
}

ul {
    padding: 0;
    margin: 0;
}

div.header {
    width: 100%;
    background: #f8df00;
    text-align: center;
    margin-bottom: 1rem;
}

img.banner-top {
    width: 100%;
    margin: auto;
    max-width: 33.75rem;
}

div.content {
    width: 100%;
    margin: auto;
}

ul.tabList {
    list-style: none;
}

ul.tabList li {
    list-style: none;
}

ul.tabList li.row {
    border-top: 1px solid #ccc;
    margin: 0 0.75rem;
    padding: 0.5rem 0;
    cursor: pointer;
}

ul.tabList li.first {
    border-top: none;
}

ul.tab li {
    margin-top: 0.2rem;
    font-size: 1.5rem;
}

div.body-wrapper {
    padding: 1rem;
    margin-bottom: 5rem;
}

div.wrapper {
    padding: 0.5rem 1rem;
    line-height: 2rem;
    font-size: 1.45rem;
}

ul.tv {
}

ul.tv li {
    list-style: none;
    clear: both;
    line-height: 2.5rem;
    margin: 1rem;
}

div.serial {
    float: left;
    margin-right: 0.8rem;
    width:2.5rem;
    height:2.5rem;
    background-color:#F00;
    border-radius:15px;
}

div.serial span {
    height:2.5rem;
    line-height:2.5rem;
    display:block;
    color:#FFF;
    text-align: center;
}

ul.options li {
    float: left;
    margin-right: 1rem;
    list-style: none;
}

a.title-tv {
    float: right;
}

h6.tip-title {
    font-size: 2rem;
    border-left:solid 0.5rem coral;
    padding-left: 0.5rem;
    margin: 0.6rem 0;
}

body.mall {
    background: #f1f1f1;
}

header.mall {
    background: #FFF;
    line-height: 3.5rem;
    border-bottom: solid 1px #ccc;
}

header.mall .col-xs-6 .block {
    margin: 0 1rem;
}

ul.mall-listblock {
    margin: 0 1rem;
}